<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><Pyszne class="pl"></Pyszne></title>
    <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
    <h1>
        Pyszne Pl
    </h1>
<div class="all-view" id="main-div">
<select name="Pizza" id="Pizza" class="margin-bottom">
    <br>
    <option value="0">-</option>
    <option value="1">Margerita</option>
    <option value="2">Pepperoni</option>
    <option value="3">Wiejska</option>
    <option value="4">Hawajska</option>

</select>
<Div> 
    <input type="checkbox" id="pomidorowy"  class="margin-bottom"name="Pomidorowy">
    <label for="pomidorowy" >pomidorowy</label>
    <input type="checkbox" id="czosnkowy" class="margin-bottom" name="czosnkowy">
    <label for="czosnkowy" class="">czosnkowy</label>
    <input type="checkbox" id="ostry"  class="margin-bottom"name="ostry">
    <label for="ostry" class="">ostry</label>
</Div>
<input type="text"name="nameC" class="margin-bottom" placeholder=" Imie i nazwisko">
<br>
<input type="email" name="email" id="email"  class="margin-bottom"placeholder="Podaj email">
<br>
<input type="tel" name="tel" id="tel"  class="margin-bottom"placeholder="Telefon kontaktowy">
<br>
<input type="text" name="adress"  id="adress" class="margin-bottom" placeholder="Adres dostawy">
<br>
<textarea name="" id="msg" cols="30" rows="10" class="margin-bottom" placeholder="Wiadomość dla kucharza"></textarea>
<br>
<button class="btn margin-bottom" id="id-btn">Bier</button>

</div>
<script src="../js/main.js"></script>

</body>
</html>