<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><Pyszne class="pl"></Pyszne></title>
</head>
<body>
    <h1>
        Pyszne Pl
    </h1>
    <p></p>
    <span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dolorem sapiente mollitia dolorum labore necessitatibus culpa non, sequi, repudiandae aliquid vel dolore. Ipsa enim dolore non voluptatum, nobis laudantium odio.
    </span>
</body>
</html>